<div class="busTop">
    <div class="img"><img src="/ecotrop/img/image 55.png"></div>
    <div class="topText">180 м</div>
</div>
<div class="street">Челябинская ул., 21</div>
<div class="commonDownBlock">
    <div class="downBlock">
        <div class="<%= colorBlock %> ">974</div>
        <div class="timeGo">4 мин</div>
    </div>
    <div class="downBlock">
        <div class="<%= colorBlock %> ">974</div>
        <div class="timeGo">4 мин</div>
    </div>
    <div class="downBlock">
        <div class="<%= colorBlock %> ">974</div>
        <div class="timeGo">4 мин</div>
    </div>
</div>