<div class="commonBox">
    <div class="textName">Рядом с вами</div>
    <div class="boxContainer">
        <%- include('boxOfPlace', {title: 'Самокаты', image: 'image 58.png'})  %> 
        <%- include('boxOfPlace', {title: 'Самокаты', image: 'image 59.png'})  %> 
        <%- include('boxOfPlace', {title: 'Самокаты', image: 'image 60.png'})  %> 
        <%- include('boxOfPlace', {title: 'Самокаты', image: 'Group 85.png'})  %> 
    </div>
</div>