<div id="map-overlay" class="map-overlay">
    <div class="d-flex justify-content-between" style="width: 94%;">
      <label for="timeRange" class="form-label">Measurement results</label>
      <label for="timeRange" class="form-label">Now</label>
      <label for="timeRange" class="form-label">Forecast +24</label>
    </div>
    <input type="range" class="form-range" id="timeRange" min="0" max="6" step="1">
    <div class="d-flex justify-content-between" style="width: 35%;">
      <label for="timeRange" class="form-label">year</label>
      <label for="timeRange" class="form-label">month</label>
      <label for="timeRange" class="form-label">7 days</label>
    </div>
  </div>