<div class="commonBox">
    <div class="textName">Избранные адреса</div>
    <div class="boxContainer2">
        <div class="boxContainerBlock">
            <div class="boxContainer">
                <div class="imgCircle"><img src="/ecotrop/img/image 56.png"></div>
                <div class="place">Дом</div>
            </div>
            <div class="addAdress">Добавить адрес</div>
        </div>
        <div class="boxContainerBlock">
            <div class="boxContainer">
                <div class="imgCircle"><img src="/ecotrop/img/image 57.png"></div>
                <div class="place">Дом</div>
            </div>
            <div class="addAdress">Добавить адрес</div>
        </div>
    </div>
</div>