<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Одежда">
    <meta name="discription" content="LanaLux">
    <meta name="author" content="Peter Lastochkin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ecotrop/css/style.css">
    <script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp,package.route&amp;lang=ru-RU&amp;apikey=6ed3c880-7f55-4610-9a8a-0e20076a85ac" type="text/javascript"></script>
    <title>greenHouse</title>
</head>