<div id="iconMenu">
    <div id="closedMenuBack" onclick="openMenu('buttonClosed')">▲<div class="title">Закрыть</div></div>
    <div class="tapMenu" onclick="openMenu(0)">
        <img class="icon_change" src="" alt="icon" width="47px" height="46px">
        <div class="title">Сдать на переработку</div>
    </div>
    <div class="tapMenu" onclick="openMenu(1)">
        <img class="icon_change" src="" alt="icon" width="47px" height="46px">
        <div class="title">Обменять</div>
    </div>
    <div class="tapMenu" onclick="openMenu(2)">
        <img class="icon_change" src="" alt="icon" width="47px" height="46px">
        <div class="title">Прогуляться</div>
    </div>
    <div class="tapMenu" onclick="openMenu(3)">
        <img class="icon_change" src="" alt="icon" width="47px" height="46px">
        <div class="title">Комьюнити</div>
    </div>
    <div class="tapMenu" onclick="openMenu(4)">
        <img class="icon_change" src="" alt="icon" width="47px" height="46px">
        <div class="title">Что-то еще</div>
    </div>
</div>
<div id="openMenu">
    <div id="buttonMenu">
        
    </div>
    <div id="contentMenu">
        
    </div>
</div>