<div>
    <span><b>GreenHouse</b></span><br>
    <svg style="margin-left: 4px;" width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.04541 8.75938C1.86222 7.64756 0 5.63756 0 4C0 1.6 1.6 0 4 0C6.4 0 8 2 8 4C8 5.37972 6.09638 7.52089 4.91559 8.7163C4.39954 9.23875 3.58056 9.26225 3.04541 8.75938ZM5.33333 3.46667C5.33333 4.20305 4.73638 4.8 4 4.8C3.26362 4.8 2.66667 4.20305 2.66667 3.46667C2.66667 2.73029 3.26362 2.13333 4 2.13333C4.73638 2.13333 5.33333 2.73029 5.33333 3.46667Z" fill="#7058D4"/>
    </svg>
    <span>Солнечногорск</span>
</div>
<div style="margin-top: 12px;"><input type="text" placeholder="Поиск..." value="" id="searchInput"></div>
<script>
    searchInput.onkeyup = function(event) {
        let setLink = document.querySelector('#linkPlace');
        let textInput = document.querySelector('#searchInput');
        if (event.keyCode == 13 && textInput.value.search(/петербург/gi) != -1) {
            setLink.src = '';
            setLink.src = 'https://yandex.ru/map-widget/v1/?um=constructor%3Ae667a328cf1a616e89bc443e866ec1346afed266797f9392425bd165f1dbff1e&amp;source=constructor';
            textInput.value = '';
        } else if (event.keyCode == 13 && textInput.value.search(/солнечногорск/gi) != -1){
            setLink.src = '';
            setLink.src = 'https://yandex.ru/map-widget/v1/?um=constructor%3A8ebe42f06d58aa7c7c5c74076a1a73a7873462842268cf82c1cd12bfb369d969&amp;source=constructor';
            textInput.value = '';
        }
    };
</script>