<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Карты">
    <meta name="discription" content="ЭкоКарта">
    <meta name="author" content="Peter Lastochkin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="map/style_map.css">
    <link rel="stylesheet" href="map/leaflet.css">
    <script async="" src="map/analytics.js"></script><script type="text/javascript" src="map/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="map/leaflet.js"></script>
    <script type="text/javascript" src="map/leaflet-providers.js"></script>
    <script type="text/javascript" src="map/leaflet.label.js"></script>
    <title>ЭкоКарта</title>
</head>