<div id="mapContent">
    <div id="obj_map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="margin-top: -60px; outline: none; z-index: 2;"></div>
</div>